{% extends "layout/layout.html" %}
{% load static %}
{% block content %}
<div class="containerr">
 <div class="row socialize text-center" id="share">

                     </div>
            	<div class="desc_heading">
                	<p>{{ book.name }}</p>
                    <p class="book_desc"><a href="{% url 'aurthor' book.aurthor.id %}" > ترجمة المؤلف:<span >{{ book.aurthor.name}}</span></a></p>



                     <div class="col-md-12 main_desc">
                     	<table>
                            <tr>
                                <td>{{ book.description }}</td>
                                <td class="gap">:الكتاب</td>
                            </tr>
                            <tr>
                            	<td>{{ book.aurthor.name }}
                                    {% if  book.aurthor.date_of_death %}
                                (Died:{{ book.aurthor.date_of_death }} )
                                {% endif %}</td>
                                <td class="gap">:المؤلف</td>
                            </tr>
                            <tr>
                            	<td>{{ book.publisher.name }}</td>
                                <td class="gap">:الناشر</td>
                            </tr>
                            <tr>
                            	<td>{{ book.edition }}</td>
                                <td class="gap">:الطبعة</td>
                            </tr>
                            <tr>
                            	<td>1</td>
                                <td class="gap">:عدد الأجزاء</td>
                            </tr>

                            <tr>
                                <td>{{ book.views }}</td>
                                <td class="gap">:عدد المشاهدات</td>
                            </tr>
                            <tr>
                            	<td>{{ book.created_at.date}}</td>
                                <td class="gap">:تاريخ الإضافة</td>
                            </tr>
                        </table>
                     </div>
                     <div class="col-md-12 table_footer">
                         {% if book.book_file %}
                     	<a href="{{ MEDIA_URL }}{{ book.book_file.url }}" download><img src="{% static 'image/download (2).png' %}"></a>
                         {% endif %}
                     {% if book.phone_book_file %}
                     	<a href="{{ MEDIA_URL }}{{ book.phone_book_file.url }}" download><img src="{% static 'image/download (1).png' %}"></a>
                         {% endif %}

                     </div>
                </div>
            </div>
{% endblock %}
{% block script %}
<script>
$("#share").jsSocials({
     url: "{{ current_url }}",
    showCount: true,
    shareIn: "popup",
    shares: ["twitter", "facebook", "whatsapp"],
    text: "Check This Book Out On Shameela"
});
</script>
{% endblock %}