{% extends "layout/layout.html" %}
{% block content %}
              <div class="popular_heading mb-10">


                        <a href="#" class="change_background"> Sections of the library</a>


            </div>
                <div class="container-fluid">
              <table id="myTable" class="table table-striped section_list" >
                <thead>
                  <tr>
                    <th>Number of books</th>
                    <th>Category</th>

                  </tr>
                </thead>
                <tbody>
                {% for cat in categories %}
                  <tr>
                    <td>{{cat.books_set.count}}</td>
                    <td><a href="/category/books/{{ cat.id }}">{{ cat.name }}</td>

                  </tr>
                {% endfor %}


                </tbody>
              </table>
            </div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
{% endblock %}