{% extends "layout/layout.html" %}
{% block content %}
            	<div class="banner_image">
                    <!--slider-->

                    <!--slider end -->
                  <div class="popular_heading mb-10">
                        <a href="#" class="change_background">NEW BOOKS </a>
          		  </div>
                <div class="container-fluid">
                  <table id="myTable" class="table table-striped" >
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Views</th>
                        <th>Author Name</th>
                        <th>Book Name</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for b in books %}
                      <tr>
                        <td>{{ b.created_at.date }}</td>
                        <td>{{ b.views }} Views <i class="fa fa-eye"></i></td>
                        <td>{{ b.aurthor.name }}</td>
                        <td><a href="{% url 'description' b.id %}">{{ b.name }}</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  <div class="all_books">
                    <a href="new_books.html">All Books</a>
                   </div>
                </div>
                <!--ware house-->
                <div class="popular_heading mb-10">
                        <a href="#" class="change_background">NEW warehouse </a>
          		  </div>
                <div class="container-fluid">
                  <table id="uyTable" class="table table-striped" >
                    <thead>
                      <tr>
                        <th>Sr#</th>
                           <th>Total Books</th>
                        <th>Category Name</th>

                      </tr>
                    </thead>
                    <tbody>
                    {% for c in categories %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="text-bold text-danger">{{c.books_set.count}}</td>
                    <td><a href="/category/books/{{ c.id }}">{{ c.name }}</td>
                      </tr>
                    {% endfor %}



                    </tbody>
                  </table>
                  <div class="all_books">
                    <a href="new_warehouse.html">All warehouses</a>
                   </div>
                </div>
                </div>

{% endblock %}
{% block script %}
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
<script>
$(document).ready(function(){
    $('#uyTable').dataTable();
});
</script>
{% endblock %}