{% extends "layout/layout.html" %}
{% load static %}
{% block content %}
<div class="popular_heading mb-10">


                        <a href="#" class="change_background">Books Uploaded By Users</a>


            </div>
                <div class="container-fluid ">
              <table id="myTable" class="table table-striped" >
        <thead>
          <tr>
              <th>Sr#</th>
            <th>Date</th>
            <th>Views</th>
            <th>Author Name</th>
            <th>Book Name</th>
          </tr>
        </thead>
        <tbody>
    {% for book in books %}
          <tr>
          <td>{{ forloop.counter }}</td>
            <td>{{ book.created_at.date }}</td>
            <td>{{ book.views }} Views <i class="fa fa-eye"></i></td>
           <td>{{book.aurthor.name}}</td>
              <td><a href="{% url 'description' book.id %}">{{ book.name }}</a></td>
          </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}